// Breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
// variables for colors
$color-title:#264065;
$color-text: #909090;
$white: #faf8f5;
$black: #070D15;
// variables for fonts
$font-family: 'Poppins', sans-serif;